# Introduction à la manipulation des données avec pandas en Python

## Python pour la manipulation des données

`Python` n'est pas à proprement parler un langage de programmation ou un logiciel pour la manipulation des données, comme peuvent l'être par exemple le langage de programmation `R`, les logiciels commerciaux `SPSS` (IBM), `SAS` (SAS) ou encore `Excel` (Microsoft) qui ont su dominer le marché des plateformes statistiques via leur lien natif avec les systèmes de gestion de base de données.

Néanmoins, la langage `Python` de par sa versatilité et les très nombreux développements de sa communauté, a rapidement des capacités de traitement et manipulation des données très évoluées. En 2008 est apparue la librairie [pandas](https://pandas.pydata.org/index.html) (Python for Data Analysis) permettant l'import, la lecture, le traitement de données souvent volumineuses ainsi que la connection des serveurs SQL. La librairie `pandas` s'est rapidement installée dans le paysage de la data science et bien que n'ayant peu de fonctions de modélisation statistique ou de machine learning, de nombreux projets de machine learning vont utiliser `pandas` comme pré-traitement des données.

## Résumé

On commence par l'import du module `pandas` (directement installé avec les versions récentes de la distribution Anaconda sinon `pip install pandas`)

In [5]:
import pandas as pd

Pour connaître toutes les méthodes et attributs d'un module (un module est un objet en `Python`), on peut utiliser la commande `dir`

In [6]:
dir(pd)

['Categorical',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'ExcelFile',
 'ExcelWriter',
 'Expr',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int64Index',
 'Interval',
 'IntervalIndex',
 'MultiIndex',
 'NaT',
 'Panel',
 'Period',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseSeries',
 'Term',
 'TimeGrouper',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt64Index',
 'WidePanel',
 '_DeprecatedModule',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_hashtable',
 '_lib',
 '_libs',
 '_np_version_under1p10',
 '_np_version_under1p11',
 '_np_version_under1p12',
 '_np_version_under1p13',
 '_np_version_under1p14',
 '_np_version_under1p15',
 '_tslib',
 '_version',
 'api',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'datetools',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'get_store',
 'groupby',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json',
 'lib',
 'lreshape',
 'match',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'parser',
 'period_range',
 'pivot',
 'pivot_table',
 'plot_params',
 'plotting',
 'pnow',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'scatter_matrix',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_msgpack',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tools',
 'tseries',
 'tslib',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

Il y a énormément de méthodes, le but de cette formation n'est pas de tout décrire. Néanmoins pour donner une idée de la versatilité de `pandas`, on va afficher toutes les méthodes qui commencent par `read`

In [7]:
[method for method in dir(pd) if method.startswith('read')]

['read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_msgpack',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table']

Ainsi on peut importer des données de formats très différents : `csv`, `excel`, `html`, `sas` et autres

In [8]:
data = pd.read_csv('US_DEFENSE_EXPORTS_UAE_SA_KRA,TWN_JPN_IND_AUS_UK_ISR_TOTAL_2013_2016.csv')

In [9]:
data

,Date,UAE,Saudi_Arabia,Korea,Taiwan,Japan,India,Australia,UK,Israel,Total_Exports
0,2013,1561985443,878218420,1250814816,1455880900,1436017948,1431733760,622342541,873573724,670651082,17617320748
1,2014,712349025,2183960212,1456614726,1612797455,1338736445,1600770830,1004739895,1054361232,964062045,20611753509
2,2015,1273012862,2296375044,1157923180,1975441017,1251464413,591034229,1766376367,1358504870,894647044,20326724573
3,2016,1374172126,2454712812,2474715663,1023231765,1403637446,226564695,1640730419,833512788,886316828,21658439877

In [10]:
data['UAE'].values

array([1561985443,  712349025, 1273012862, 1374172126], dtype=int64)